@page
@using System.Globalization
@model MatchPredictor.Web.Pages.ScrapeStatus

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Scraping Logs</title>
</head>
<body>
<div>
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Scrape Status</h1>
        @foreach (var status in Model.Logs)
        {
            <div class="bg-white shadow-md rounded-lg p-6 mb-4 @(status.Status == "Success" ? "border-green-500 border-l-4" : "border-red-500 border-l-4")">
                <h2 class="text-xl font-semibold mb-2">Scrape Status</h2>
                <p class="mb-4"><strong>Time</strong>: @status.Timestamp.ToLocalTime().ToString(CultureInfo.InvariantCulture)</p>
                <p class="mb-4"><strong>Status</strong>: @status.Status</p>
                <p class="mb-4"><strong>Message</strong>: @status.Message</p>
            </div>
        }
    </div>
</div>
</body>
</html>